* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 98vh;
}

a {
    text-decoration: none;
}

/****************************
***** C A B E Ç A L H O *****
****************************/

header {
    background: linear-gradient(#003366, #006699);
    font-size: 1em;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    text-align: center;
    display: grid;
    align-content: center;
}

.logo, .usuario, #tema_nome {
    color: white;
    font-weight: bold;
    width: auto;
}

#info {
    display: grid;
    align-content: end;
}

.usuario {
    font-size: 14px;
    padding: 10px 0px 0px 10px;
}

#tema_nome {
    display: flex;
    padding: 10px 0px 0px 10px;
}

#tema {
    background-color: #003366;
    color: white;
    font-weight: bold;
    border: none;
}

/*****************************
** F I M  C A B E Ç A L H O **
*****************************/


/****************************
********** M E N U **********
*****************************/

nav {
    background-color: #333;
    padding: 10px 20px;
}

.menu-toggle {
    display: none;
}

.menu-toggle span {
    background-color: #fff;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    width: 25px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.menu li a:hover {
    background-color: white;
    color: black;
}

/**************************
***** F I M   M E N U *****
**************************/

main {
    background: linear-gradient(#cccccc, #ffffff);
    padding: 16px;
    width: auto;
}

.adicionar {
    display: block;
    width: 100px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.esconder{
    display: none;
}

/****************************
**** F O R M U L A R I O ****
****************************/

form label::after {
    content: ":";
}

form {
    width: 100%;
    max-width: 1150px;
    margin: auto;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    gap: 0.8em;
    align-items: center;
    width: 90%;
    margin: auto;
}

.inativo{
    display: none;
}

input, select {
    border-radius: 3px;
    border: 1px solid black;
}

.enviar, .cancelar, .adicionar {
    background-color: #2c832d;
    color: white;
    border-radius: 5px;
    padding: 0.5em;
    border: none;
    font-size: 1em;
    font-weight: bold;
}

/*****************************
* F I M  F O R M U L A R I O *
*****************************/


/**************************
******* T A B E L A *******
**************************/

.table-container {
    width: 100%;
    max-height: 84vh;
    min-height: 71.4vh;
    overflow-x: auto;
    overflow-y: auto;
}

table {
    margin: auto;
    width: 95%;
    text-align: center;
    font-weight: bold;
}

td {
    padding: 5px;
}

thead, tfoot{
    background-color: #003366;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #639ddf;
}
tbody tr:nth-child(even) {
    background-color: #639ddf8f;
}

tbody tr:hover {
    background-color: #639ddfcc;
}

table td:nth-child(2) {
    white-space: nowrap;
}

table td:nth-child(3) {
    white-space: nowrap;
}

table td:last-child {
    white-space: nowrap;
}

.editar, .excluir {
    background-color: #2c832d;
    color: white;
    border-radius: 5px;
    line-height: 2em;
    padding: 0.5em;
    text-decoration: none;
}

/* Aqui se aproveita parte do codigo para para o botão enviar e cancelar do formulario */
.editar:hover, .enviar:hover, .adicionar:hover {
    background-color: #1b531c;
}

.excluir, .cancelar {
    background-color: rgb(207, 0, 0);
}

.excluir:hover, .cancelar:hover {
    background-color: rgb(160, 18, 18);
}

/*************************
*** F I M  T A B E L A ***
*************************/


footer, footer a {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 3px;
    font-weight: bold;
}



 @media screen and (max-width: 880px) {
    /****************************
    ********** M E N U **********
    ****************************/
    
    .menu-toggle {
        display: block;
        cursor: pointer;
        height: 20px;
        width: 25px;
    }

    .menu {
        display: none;
        position: relative;
        left: 10px;
        background-color: #333;
        padding: 10px 20px;
    }

    #menuToggle:hover + .menu{
        display: block;
    }

    #menuToggle + .menu:hover {
        display: block;
    }
    
    nav:hover + .menu{
        display: block;
    }

    .menu li{
        display: block;
        margin: 10px 0;
        width: 200px;
        border-radius: 5px;
        height: 20px;
    }

    .menu li a {
        display: inline-block;
        width: 100%;
    }

    .menu li a:hover {
        width: 200px;
    }

    .menu li:last-child {
        margin-bottom: 0;
    }

    /**************************
    ***** F I M   M E N U *****
    ***************************/

}


@media screen and (max-width: 768px){    
    .grid {
        grid-template-columns: 1fr 3fr;
    }

    .cancelar {
        margin-bottom: 20px;
    }
}

 @media screen and (max-width: 500px) {
    main {
        width: auto;
    }
    
    .grid {
        grid-template-columns: 1fr;
        width: 90%;
        gap: 0.4em;
    }
 }